@import url("./fonts/fonts.css");

body {
  margin: 0;
  padding: 0;
  font-weight: 800;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  background: white;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  margin-top: 20px;
  float: right;
  font-family: "Como";
  font-size: 25px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 30px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: rgb(107, 105, 105);
  text-decoration: none;

  font-size: 20px;
}

nav button {
  border-radius: 18px;
  border: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 20px;
  padding-right: 20px;
  background: rgb(70, 68, 68);
  color: white;
  font-family: "Como";
  font-size: 25px;
  margin: 10px;
}

nav button:hover {
  background: rgb(39, 39, 39);
  box-shadow: 2px 2px 7px grey;
}

nav button a {
  color: white;
}

nav button a:hover {
  color: white;
}

nav a:hover {
  color: rgb(119, 39, 148);
}

nav li a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: rgb(119, 39, 148);
  position: absolute;
  bottom: -5px;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

footer {
  background: rgb(29, 20, 75);
  color: white;
  font-family: "Como";
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footerAlign {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  float: right;
  width: 80%;
}

footer h1 {
  color: rgb(95, 27, 204);
  text-align: left;
}

footer h4 {
  padding: 0px;
}

.table {
  padding-top: 10px;
  vertical-align: text-top;
  padding-left: 8%;
}

footer img {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

footer td {
  margin: 5%;
  vertical-align: middle;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: lightgrey;
}

.icon {
  height: 20px;
  margin-right: 0.3rem;
  vertical-align: middle;
}

.footer-nav {
  color: white;
  text-decoration: none;
}

.footer-nav:hover {
  color: lightgrey;
}
