@import url(../../../fonts/fonts.css);

.workflow-bg {
  background: rgb(242, 241, 244);
  padding: 5px;
  text-align: center;
  width: 100%;
}

.our-workflow {
  font-size: 61px;
  font-family: "Neuropol x Rg";
  color: rgb(71, 69, 80);
  margin-bottom: -25px;
}

.workflow-sub {
  font-family: "Como";
  font-size: 25px;
  color: rgb(68, 46, 180);
}

.table-header {
  font-family: "Como";
  text-align: center;
  font-size: 30px;
  color: rgb(88, 87, 95);
  line-height: 1.2;
  height: 90px;
}

.text-info {
  font-family: "Como";
  text-align: left;
  vertical-align: text-top;
  font-size: 23px;
  color: rgb(122, 119, 140);
  line-height: 1.2;
  padding: 3%;
}

.tableCol {
  max-width: 400px;
  min-width: 300px;
  margin: 3rem;
  background: white;
  border-radius: 10px;
  padding-top: 20px;
}

#tableAlign {
  margin-left: auto;
  margin-right: auto;
}

.flexTable {
  display: flex;
  flex-wrap: wrap;
  padding-left: 3rem;
  padding-right: 3rem;
  justify-content: center;
}

#formLink {
  text-decoration: none;
  color: rgb(68, 46, 180);
}
